head, title{
    color: darkblue;
}
    
button:hover{
    box-shadow: 5px 5px 5px darkgray;
}

li{
    font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
    background-color: whitesmoke;
    margin: 3px;
}

.template{
    visibility: hidden;
}

.actions{
    float: right;
}

.dino{
    overflow: hidden;
    clear: both;
}