button:hover{
    box-shadow: 5px 5px 5px darkgray;
}

li{
    font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

li:nth-of-type(even){
    background-color: lightgray;
}

li:nth-of-type(odd){
    background-color: whitesmoke;
}

.template{
    visibility: hidden;
}

.actions{
    float: right;
}

.dino{
    overflow: hidden;
    clear: both;
}